- type: job
  id: Sheriff
  name: job-name-sheriff
  description: job-description-sheriff
  playTimeTracker: JobHeadOfSecurity
  whitelisted: true
  requirements:
    - !type:RoleTimeRequirement
      role: JobWarden
      time: 43200 # 12 hours
  startingGear: SheriffGear
  alwaysUseSpawner: true
  icon: JobIconSheriff
  requireAdminNotify: true
  supervisors: job-supervisors-centcom
  weight: 180
  displayWeight: 70
  canBeAntag: false
  accessGroups:
  - AllAccess
  special:
  - !type:AddImplantSpecial
    implants: [ MindShieldImplant, TrackingImplant ]
  - !type:AddComponentSpecial
    components:
      - type: CommandStaff
      - type: PreventShipyardTitleOverwrite
  - !type:GiveItemOnHolidaySpecial
    holiday: FrontierBirthday
    prototype: FrontierBirthdayGift

- type: startingGear
  id: SheriffGear
  equipment:
    pocket1: NFWeaponPistolUniversalNfsdLessLethal
    pocket2: NFWeaponEnergyPistolLaserX01Multiphase
  storage:
    back:
    - NfsdTechFabFlatpack
    - Multitool
    - HoloprojectorNfsd
    - DoorRemoteNfsd
    - BaseSecurityUplinkRadioSheriff
    - RubberStampSheriff
    - ShipVoucherNfsdBailiff
    - FrontierUplinkCoin5

- type: chameleonOutfit
  id: SheriffChameleonOutfit
  job: Sheriff
  hasMindShield: true
  equipment:
    head: ClothingHeadHatNfsdCampaignFilled
    mask: ClothingMaskGasSheriff
    eyes: ClothingEyesGlassesNfsd
    outerClothing: ClothingOuterCoatNfsdFormalSheriff
    neck: ClothingNeckNfsdBadgeSheriff
    belt: ClothingBeltNfsdFilled
    gloves: ClothingHandsGlovesCombatNfsdCream
    shoes: ClothingShoesBootsNfsdBrown
